qlib_init:
  provider_uri: "~/.qlib/qlib_data/cn_data"
  region: cn
  exp_manager:
    class: "MLflowExpManager"
    module_path: "qlib.workflow.expm"
    kwargs:
      uri: "file:/Users/dabai/liepin/study/llm/Financial_QA/data/qlib_exp/mlruns"
      default_exp_name: "tra_exp"


market: &market csi300
benchmark: &benchmark SH000300

data_handler_config: &data_handler_config
  start_time: 2015-01-01
  end_time: 2025-12-30
  fit_start_time: 2015-01-01 # 特征处理器（Processor）的拟合区间 主要用于：RobustZScoreNorm ZScoreNorm CSRankNorm Fillna
  fit_end_time: 2016-12-30
  instruments: *market
  infer_processors:
    - class: FilterCol
      kwargs:
        fields_group: feature
        col_list: ["RESI5", "WVMA5", "RSQR5", "KLEN", "RSQR10", "CORR5", "CORD5", "CORR10", "ROC60", "RESI10",
                   "VSTD5", "RSQR60", "CORR60", "WVMA60", "STD5", "RSQR20", "CORD60", "CORD10", "CORR20", "KLOW",
                   "MIN60", "STD60", "MAX5", "MAX30", "IMAX60", "CNTN60", "KUP", "QTLD60", "MIN5", "IMIN30", "VMA60",
                   "MA5", "LOW0", "VSTD60", "CORD20", "RESI60", "STD30", "MAX60", "MAX20", "IMIN60", "QTLD5", "KLOW2",
                   "RSQR30", "OPEN0", "VSUMP60", "VSTD10", "KMID", "VSTD20", "SUMD10", "KMID2", "CORD30", "IMAX20",
                   "WVMA20", "BETA20", "CNTN20", "RANK60", "SUMP10", "VMA5", "STD10", "STD20", "IMXD60", "BETA5",
                   "KSFT", "IMIN20", "VSUMP20", "HIGH0", "SUMP30", "WVMA30", "RESI30", "VSUMD60", "RSV10", "VSTD30",
                   "KUP2", "CORR30",]
    - class: RobustZScoreNorm
      kwargs:
        fields_group: feature
        clip_outlier: true
    - class: Fillna
      kwargs:
        fields_group: feature
  learn_processors:
    - class: CSRankNorm
      kwargs:
        fields_group: label
  label: ["Ref($close, -6) / Ref($close, -1) - 1"]

num_states: &num_states 3

# 第二阶段模型容易坍塌，出现 nan
memory_mode: &memory_mode sample
# memory_mode: &memory_mode daily

tra_config: &tra_config
  num_states: *num_states
  rnn_arch: LSTM
  hidden_size: 32
  num_layers: 1
  dropout: 0.0
  tau: 1.0
  src_info: LR_TPE # memory_mode sample
  # src_info: TPE # memory_mode daily

model_config: &model_config
  input_size: 74
  hidden_size: 64
  num_layers: 2
  rnn_arch: LSTM
  use_attn: True
  dropout: 0.0

port_analysis_config: &port_analysis_config
    strategy:
        class: TopkDropoutStrategy
        module_path: qlib.contrib.strategy
        kwargs:
            signal: <PRED>
            topk: 50
            n_drop: 5
    backtest:
        start_time: 2017-03-02
        end_time: 2025-12-30
        account: 100000000
        benchmark: *benchmark
        exchange_kwargs:
            limit_threshold: 0.095
            deal_price: close
            open_cost: 0.0005
            close_cost: 0.0015
            min_cost: 5

task:
  model:
    class: TRAModel
    module_path: qlib.contrib.model.pytorch_tra
    kwargs:
      tra_config: *tra_config
      model_config: *model_config
      model_type: RNN
      lr: 0.0003
      n_epochs: 40
      max_steps_per_epoch:
      early_stop: 20
      logdir: output/Alpha1581
      seed: 0
      lamb: 1.0
      rho: 0.99
      alpha: 0.5
      # transport_method: router
      # memory_mode: *memory_mode
      eval_train: False
      eval_test: True
      pretrain: False
      init_state:
      freeze_model: False
      freeze_predictors: False
  dataset:
    class: MTSDatasetH
    module_path: qlib.contrib.data.dataset
    kwargs:
      handler:
        class: Alpha158
        module_path: qlib.contrib.data.handler
        kwargs: *data_handler_config
      segments:
        train: [ 2015-01-01, 2016-12-31 ]
        valid: [ 2017-01-01, 2017-03-01 ]
        test: [ 2017-03-02, 2025-12-30 ]
      seq_len: 60
      input_size:
      num_states: *num_states
      batch_size: 1024 # memory_mode sample
      # batch_size: -1 # memory_mode daily
      n_samples:
      memory_mode: *memory_mode
      drop_last: True
  record:
    - class: SignalRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        model: <MODEL>
        dataset: <DATASET>
    - class: SigAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        ana_long_short: False
        ann_scaler: 252
    - class: PortAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        config: *port_analysis_config
