
qlib_init:
  provider_uri: "~/.qlib/qlib_data/cn_data"
  region: cn
  exp_manager:
    class: "MLflowExpManager"
    module_path: "qlib.workflow.expm"
    kwargs:
      uri: "file:/Users/dabai/liepin/study/llm/Financial_QA/data/qlib_exp/mlruns"
      default_exp_name: "lgb_exp_tree_import"

market: &market csi300
benchmark: &benchmark SH000300

data_handler_config: &data_handler_config
  start_time: 2015-01-01
  end_time: 2025-12-30
  fit_start_time: 2015-01-01 # 特征处理器（Processor）的拟合区间 主要用于：RobustZScoreNorm ZScoreNorm CSRankNorm Fillna
  fit_end_time: 2016-12-31
  instruments: *market
  infer_processors:
    - class: FilterCol
      kwargs:
        fields_group: feature
        col_list: [ "RESI5", "WVMA5", "RSQR5", "KLEN", "RSQR10", "CORR5", "CORD5", "CORR10", "ROC60", "RESI10", "VSTD5", "RSQR60", "CORR60", "WVMA60", "STD5", "RSQR20", "CORD60", "CORD10", "CORR20", "KLOW", "MIN5", "VMA60", "LOW0", "MIN10", "MIN20", "MIN30", "MIN60", "QTLD20", "VSUMN30", "QTLD10", "QTLD30", "QTLD60", "VSUMN60", "ROC5", "QTLD5", "MA30", "VSUMN20", "MA20", "MA10", "VMA30", "MA60", "VSTD60", "SUMN30", "QTLU30", "MA5", "VSUMN10", "SUMN20", "QTLU20", "ROC10", "SUMN5", "VMA20", "IMIN5", "QTLU60", "SUMN10", "VSUMN5", "IMIN20", "OPEN0", "IMIN30", "VMA10", "QTLU10", "CNTN5", "SUMN60", "IMIN10", "QTLU5", "CNTN10", "CNTN20", "CNTN30", ]
  learn_processors:
    - class: CSRankNorm
      kwargs:
        fields_group: label
  label: ["Ref($close, -6) / Ref($close, -1) - 1"]


port_analysis_config: &port_analysis_config
  strategy:
    class: TopkDropoutStrategy
    module_path: qlib.contrib.strategy
    kwargs:
      signal: <PRED>
      topk: 5
      n_drop: 5
      hold_thresh: 5  # 周频 label 对齐
  backtest:
    start_time: 2017-03-02
    end_time: 2025-12-30
    account: 1000000
    benchmark: *benchmark
    exchange_kwargs:
      limit_threshold: 0.095
      deal_price: close
      open_cost: 0.0005
      close_cost: 0.0015
      min_cost: 5

task:
  model:
    class: LGBModel
    module_path: qlib.contrib.model.gbdt
    kwargs:
      loss: mse
      colsample_bytree: 0.8879
      learning_rate: 0.2
      subsample: 0.8789
      lambda_l1: 205.6999
      lambda_l2: 580.9768
      max_depth: 8
      num_leaves: 210
      num_threads: 20
  dataset:
    class: DatasetH
    module_path: qlib.data.dataset
    kwargs:
      handler:
        class: Alpha158
        module_path: qlib.contrib.data.handler
        kwargs: *data_handler_config
      segments:
        train: [ 2015-01-01, 2016-12-31 ]
        valid: [ 2017-01-01, 2017-03-01 ]
        test: [ 2017-03-02, 2025-12-30 ]
  record:
    - class: SignalRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        model: <MODEL>
        dataset: <DATASET>
    - class: SigAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        ana_long_short: False
        ann_scaler: 252
    - class: PortAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs:
        config: *port_analysis_config